[Unit]
Description=GRIP Tags Information Service
OnFailure=grip-failure@tags.service

[Service]
Type=simple
User=bgp
Group=bgp
ExecStart=/usr/local/bin/grip-tags-service
ExecStartPre=/usr/local/bin/grip-ops-event -o start -T deployment,start,systemd \
    -e all -c tags -m "tags service started"
ExecStop=/usr/local/bin/grip-ops-event -o stop -T deployment,stop,systemd \
    -e all -c tags -m "tags service stopped"
Restart=on-failure
SyslogIdentifier=grip-tags

[Install]
WantedBy=multi-user.target
