[Unit]
Description=Grip Inference Collector (%i)
OnFailure=grip-failure@inference-collector-%i.service

[Service]
Type=simple
User=bgp
Group=bgp
PIDFile=/var/run/bgpview/grip-inference-collector-%i.pid
EnvironmentFile=/home/bgp/.limbo-cred.env
EnvironmentFile=/home/bgp/.atlas-cred.env
ExecStart=/usr/local/bin/grip-inference-collector --type %i
ExecStartPre=/usr/local/bin/grip-ops-event -o start -T deployment,start,systemd \
    -e %i -c inference-collector -m "inference-collector-%i service started"
ExecStop=/usr/local/bin/grip-ops-event -o stop -T deployment,stop,systemd \
    -e %i -c inference-collector -m "inference-collector-%i service stopped"
Restart=on-failure
SyslogIdentifier=grip-inference-collector-%i

[Install]
WantedBy=grip-inference-collector.target
